.tagblock {
  width: 100%;
  input {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 0.6rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #726f6f;
  }
  button {
    background: #875e00;
    font-size: 0.8rem;
    color: #fff;
    height: 31px;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background: #cc723d;
    }
  }

  &__list {
    display: flex;
    margin-top: 0.5rem;
    &--tags {
      font-size: 0.9rem;
      color: #666;
      letter-spacing: 1px;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}
