.postviewer {
  width: 100%;

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__head {
    margin-bottom: 1.5rem;

    &-username {
      display: inline-flex;

      &--id {
        background: #fcc2d7;
        border-radius: 5px;
        padding: 0 0.3rem;
        cursor: pointer;
      }
    }

    &-date {
      display: inline-flex;
      float: right;
      font-style: italic;
      font-size: 0.8rem;
    }
  }

  &__tags {
    a {
      background: #ddd;
      border-radius: 5px;
      margin-right: 0.5rem;
      font-size: 0.9rem;
      padding: 0 0.3rem;
    }
  }

  &__contents {
    margin: 3rem 0;
  }
}
